@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

/* for navbar part */
body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  /* background-color: #d5f0ff; */
  /* background-color: white; */
  background-color: #F9F6F0 ;
  /* background-color: #afd0ff; */
}

.nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  /* background: #0050a0; */
  /* background: #182978; */
  /* background: #29648A; */
  /* background: #161515; */
  /* background: #789B9D; */
background: #283C3D;
}


.brand {
  /* margin-left: 2%; */
  position: absolute;
  padding-left: 20px;
  /* float: left; */
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a img {
  max-height: 70px;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1400px;
  margin: 0 5%;
}

nav {
  /* position: relative;
  left: 65%; */
  float: right;
  /* margin-left: 3%; */
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  /* background: #161515; */
  background: #283C3D;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  color: #fff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  width: 100px;
}

#services {
  left: -10%;
}

#packages {
  right: 10%;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #283C3D;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 819px) {
  .nav-mobile {
    display: block;
  }

  #contact-us {
    padding: 70px 0 0 0;
    display: none;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    padding-left: 25%;
  }
  nav ul li ul li a {
    padding-left: 30%;
  }

  .nav-dropdown {
    position: static;
    width: auto;
  }
  .brand a img {
    max-height: 60px;
    margin-top: 5px;
  }
  .brand #text {
    display: none;
  }
}
@media screen and (min-width: 820px) {
  .nav-list {
    display: block !important;
  }
  .brand #logo {
    display: none;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  padding: 0px;
  width: 100%;
  /* margin: 0 auto; */
}

/* till here for navbar part  */

/* main starting */

/* img:hover {
  filter: grayscale(80%);
} */

article p,
h2,
h1,
div ul,
section h5 {
  color: #111111;
}

h5 {
  font-weight: 600;
  font-size: 1.3rem;
}

.fs {
  font-size: 1.1rem;
}

.img2 {
  position: absolute;
  top: 85%;
  left: 10%;
}

.my-element {
  /* display: inline-block; */
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
@media screen and (max-width: 991px) {
  .drone {
    display: flex;
    flex-direction: row;
  }
}

/* cards */
hr.new1 {
  width: 30%;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;}
div .btn {
  justify-content: center;
}
strong {
  font-size: 1.1rem;
}
/* card ends */

/* main ending */

/* for footer */
.site-footer {
  /* background-color: #00959d; */
  background: #283C3D;
  padding: 45px 0 20px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 1.1px;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h4 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #fff;
}
/* .site-footer a:hover {
  color: red;
  text-decoration: none;
} */
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
}
/* .footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: red;
  text-decoration: none;
} */
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  color: #96a2b2;
  font-weight: 300;
}
.social-icons a {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* .social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: red;
} */
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
/* .social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
} */
/* footer ends here */
